@charset "UTF-8";

/*
    em HTML é id    = em CSS é # (só pode um elemento)
    em HTML é class = em css é . (pode vários elementos)

*/

body{
    background-color: rgb(205,255,203);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(4,109,0);
}

h1#principal {
    text-align: center;
    background-color: black;
    color: white;
}
/*Posso colocar também #principal*/
h2{
    color: rgb(7, 61, 6);
}

.basico{
    color: green;
    text-shadow: 1px 1px 1px black;
}

.intermediario{
    color: yellow;
    text-shadow: 1px 1px 1px black;
}

.avancado{
    color:rgb(250, 57, 57);
    text-shadow: 1px 1px 1px black;
}
/*

Minha brincadeira 

div{
    background-color: white;
    border-radius: 15px;
    padding: 5px;
    height: auto;
    text-align: justify;
}
.titulo1{
    text-align: center;
}
*/